/* {
Primary Background,Main app background (dark gray-black),
#121212

Secondary Background,Navigation bar and subtle overlays (darker gray),
#0A0A0A


Text Primary,Movie titles and labels (light gray-white),
#F5F5F5
Text Secondary,Dropdown labels and placeholders (medium gray),
#9CA3AF

Accent Blue,Search bar highlight and + button,
#3B82F6
Navigation Active,Bottom tab icons/labels (light gray),
#D1D5DB
Navigation Inactive,Bottom tab backgrounds (dark gray),
#1F2937
Border/Subtle Shadow,Card edges and dividers (very dark gray),
#1F2937
} */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  background-color: #121212;
  width: 100%;
  color: #ffffff;
  padding: 40px;
}

header {
  width: 100%;
  padding: 20px;
  background-color: #0A0A0A;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
}

header .search-input-section {
  width: 300px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .search-input-section:focus {
  border: 2px solid #D1D5DB;
}

.search-input {
  width: 250px;
  height: 100%;
  padding: 8px 16px;
  font-size: 16px;
  color: #3B82F6;
  background-color: #1F2937;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
} 

.icon {
height: 100%;
width: 50px;
border-top-right-radius: 24px;
border-bottom-right-radius: 24px;
display: inline-flex;
justify-content: center;
color: #ffffff;
background-color: #111827;
align-items: center;
cursor: pointer;
} 
.icon:hover {
  background-color: #374151;
}
::placeholder {
  color: #9CA3AF;
}
.movie-container {
  height: auto;
  width: 100%;
  background-color: #0A0A0A;
  margin-top: 50px;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  row-gap: 100px;
  column-gap: 30px;
}

.movie-box {
  width: 300px;
  height: 300px;
  padding: 20px;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
box-shadow: 0 4px 8px 0 rgba(94, 93, 93, 0.6);
  border-radius: 12px;
}
.movie-box .poster {
  width: 100%;
  height: 120px;
}
.movie-box .poster:hover {
  transform: scale(1.05);
  transition: all 0.4s linear;
  cursor: pointer;
}
.movie-box .movie-title {
  color: #F5F5F5;
}

.movie-box .movie-title:hover {
  color: dodgerblue;
  cursor: pointer;
  transition: color 0.3s linear;
}

.error {
  color: red;
  font-size: 25px;
}